.container,
.header {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.settingsHeader {
  text-align: center;
}

.settingsInput {
  width: 100%;
}

.notesInput {
  width: 100%;
  height: 300px;
}

.settingsContainer {
  width: 80%;
  margin: auto;
}
