.container,
.header {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.settingsHeader {
  text-align: center;
}

.settingsInput {
  width: 40%;
}

.settingsContainer {
  width: 20%;
  margin: auto;
}
